<form action="/admins/adminception" method="post">
  <input type="email" name="mail" value="Admin@adminmail.com">
  <input type="password" name="password" value="admin">
  <input type="submit" value="Add">
</form>
