<div class="container">
  <div class="panel-body">
    <div class="col-lg-24">
      <div class="container">
        <br>
        <h3 style="text-align:center; font-weight:bold;">Camp Details</h3>
        <br>
        <form class="camping" action="/admins/addcamp" method="post" >
          <input type="text"class="campingx" name="campName" placeholder="Camp/Event Name"><br><br>
          <input type="text" class="campingx" name="campAddress" placeholder="Camp/Event Address"><br><br>
          <input type="text"  class="campingx" name="sponname" placeholder="Sponsor Name"><br><br>
          <input type="text" class="campingx" name="sponnumber" placeholder="Sponsor Number"><br><br>
          <input type="date" class="campingx" name="spondate" placeholder="Camp/Event Date"><br><br>
          <input type="time" class="campingx" name="spontime" placeholder="Camp/Event Time"><br><br>
          <br>
          <br>
          <input type="submit" class="btn btn-danger" value="Add Event">
          <a href="/admins/viewcamps" class= "btn btn-danger viewcampbtn" style="display:inline!important;">View Camps</a>
        </form>
        <br>

      </div>
    </div>
  </div>
</div>
<br>
