
<div class="home-page-events">
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="upcoming-events">
                <div class="section-heading">
                    <h2 class="entry-title">Emergency Alerts</h2>
                </div><!-- .section-heading -->
<br>
                <div class="icon-box Emergency">

                <a href="portfolio.html">
                    <header class="entry-header">
                        <marquee><h3 class="entry-title">O+ blood is needed please contact us through 0769660043. </h3></marquee>                        </header>

                    <div class="entry-content">
                        <p></p>
                      </a>
                    </div>


            </div><!-- .upcoming-events -->
        </div><!-- .col -->


    </div><!-- .row -->
</div><!-- .container -->
</div><!-- .home-page-events -->
<!-- <div class="section-heading">
<h2 class="entry-title"></h2>
</div><!-- .section-heading -->
<div class="home-page-icon-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <figure class="d-flex justify-content-center">
                        <img src="/images/hands-gray.png" alt="">
                        <img src="/images/hands-white.png" alt="">
                    </figure>
<a href="/users/register">
                    <header class="entry-header">
                        <h3 class="entry-title">Become a Donor</h3>
                    </header>

                    <div class="entry-content">
                        <p>By Signing into our world you will become a donor and save a life. </p>
                      </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <figure class="d-flex justify-content-center">
                        <img src="/images/donation-gray.png" alt="">
                        <img src="/images/donation-white.png" alt="">
                    </figure>
<a href="/donations">
                    <header class="entry-header">
                        <h3 class="entry-title">Begin With Donation</h3>
                    </header>

                    <div class="entry-content">
                        <p>Check the previous donations and donation camp details</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <figure class="d-flex justify-content-center">
                        <img src="/images/charity-gray.png" alt="">
                        <img src="/images/charity-white.png" alt="">
                    </figure>
<a href="/shops">
                    <header class="entry-header">
                        <h3 class="entry-title">Check the Outfits</h3>
                    </header>

                    <div class="entry-content">
                        <p>Find your clothing and accessories related with donations. </p>
                      </a>
                    </div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .home-page-icon-boxes -->
