<br>
<br>
<div class= "container">
  <!-- <div class="search_div">
    <select class="form-control" id="blood_key">
      <option value="o">O</option>
      <option value="a">A</option>
      <option value="b">B</option>
      <option value="ab">AB</option>
    </select>
    <input type="button" onclick="searchit()" value="Search">
    <div id="search-cont">

    </div>
  </div> -->
  <br>
<div class= "panel-body">
<div class="col-lg-24">

  <div id="cont" class="container">

  </div>
</div>
<a class="btn btn-danger" href="/admins/searchres">Search for donors</a>
</div>
<br><br><br>
</div>
